aioredis==1.1.0
asgiref==2.3.2
async-timeout==3.0.0
attrs==18.2.0
autobahn==18.9.2
Automat==0.7.0
awsebcli==3.14.6
blessed==1.15.0
botocore==1.12.12
cached-property==1.5.1
cement==2.8.2
certifi==2018.8.24
channels==2.1.3
channels-redis==2.3.0
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
daphne==2.2.2
dj-database-url==0.5.0
Django==2.2.24
docker==3.5.0
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
hiredis==0.2.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
jmespath==0.9.3
jsonschema==2.6.0
msgpack==0.5.6
msgpack-python==0.5.6
pathspec==0.5.5
PyHamcrest==1.9.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
redis==2.10.6
requests==2.20.0
semantic-version==2.5.0
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
Twisted==18.7.0
txaio==18.8.1
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.53.0
zope.interface==4.5.0
