<h1>Welcome to Dream!</h1>

<p>You must be logged in to view the stream. </p>

<style>
form {
    display: inline;
}
</style>


<form class ="logout-link" action="/accounts/signup/" method="get">
    <button type="submit">Sign Up</button>
</form>

<form class ="logout-link" action="/accounts/login/" method="get">
    <button type="submit">Login</button>
</form>

<form class ="logout-link" action="/streams/" method="get">
    <button type="submit">See Stream</button>
</form>




